.additionally {
  border: none;

  &__title {
    font-family: "Oswald", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 26px;
    color: #000000;
    margin-left: @lateral-retreat;
    position: relative;

    @media (min-width: @tablet-width) {
      font-size: 36px;
      line-height: 36px;
      margin-left: 69px;
    }

    @media (min-width: @desktop-width) {
      margin-left: @lateral-retreat-desktop;
    }
  }

  &__title::before {
    content: "";
    width: 136px;
    height: 2px;
    position: absolute;
    top: 15px;
    right: -159px;
    background-color: @main-color;

    @media (min-width: @tablet-width) {
      width: 446px;
      top: 22px;
      right: -489px;
    }

    @media (min-width: @desktop-width) {
      width: 1078px;
      right: -1120px;
    }
  }

  &__title::after {
    @media (min-width: @tablet-width) {
      content: "";
      width: 30px;
      height: 2px;
      position: absolute;
      top: 22px;
      left: -69px;
      background-color: @main-color;
    }

    @media (min-width: @desktop-width) {
      width: 70px;
      top: 22px;
      left: -110px;
    }
  }

  &__wrapper {
    padding-top: 36px;
    padding-bottom: 41px;

    @media (min-width: @tablet-width) {
      padding-top: 62px;
      padding-bottom: 19px;
    }

    @media (min-width: @desktop-width) {

    }
  }

  &__list {
    font-family: "Oswald", sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #000000;
    list-style-type: none;

    @media (min-width: @tablet-width) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 58px;
    }

    @media (min-width: @desktop-width) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      column-gap: 80px;
      margin-bottom: 47px;
    }
  }

  &__item {
    position: relative;
  }

  &__item:nth-last-child(n+2) {
    margin-bottom: 24px;

    @media (min-width: @tablet-width) {
      margin-bottom: 41px;
    }

    @media (min-width: @desktop-width) {
      margin-bottom: 0;
    }
  }

  &__control {
    cursor: pointer;
  }

  &__mark {
    width: 30px;
    height: 30px;
    border: 1px solid #CDCDCD;
    box-sizing: border-box;
    position: absolute;
    top: -2px;
    left: 0;

    @media (min-width: @tablet-width) {
      width: 40px;
      height: 40px;
      top: -5px;
    }
  }

  &__input:checked + .additionally__mark::before {
    content: "";
    width: 18px;
    height: 14px;
    position: absolute;
    top: 7px;
    left: 5px;
    background-image: url(./../../img/icon-form/check-mark.svg);

    @media (min-width: @tablet-width) {
      width: 26px;
      height: 26px;
      top: 6px;
      left: 6px;
      background-image: url(./../../img/icon-form/check-mark-tablet.svg);
    }
  }

  &__label {
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    margin-left: 46px;

    @media (min-width: @tablet-width) {
      font-size: 20px;
      line-height: 30px;
      margin-left: 59px;
    }
  }
}
