.additional-products {
  width: @mobile-width;
  margin: 0 auto;
}

.additional-products__header {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  margin-top: 25px;
  margin-left: @lateral-retreat;
  margin-bottom: 34px;
  position: relative;
}

.additional-products__header::before {
  content: "";
  width: 53px;
  height: 2px;
  position: absolute;
  top: 14px;
  right: 0;
  background-color: @main-color;
}
