.additional-card {
  width: @mobile-width;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
  list-style-type: none;
}

.additional-card__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-top: 1px solid #CDCDCD;
  box-sizing: border-box;
  padding-top: 12px;
  padding-bottom: 19px;
  margin-left: @lateral-retreat;
  margin-right: @lateral-retreat;
}

.additional-card__wrapper:nth-last-child(1) {
  border-bottom: 1px solid #CDCDCD;
}

.additional-card__title {
  width: 100%;
  display: block;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #222222;
  margin-bottom: 13px;
}

.additional-card__product {
  display: block;
  margin-bottom: 15px;
}

.additional-card__price {
  display: block;
}
