.additional-products {
  min-width: @mobile-width;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    // width: @tablet-width;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
  }
}

.additional-products__header-wrapper {
  position: relative;
  padding: 25px @lateral-retreat 0 @lateral-retreat;

  @media (min-width: @tablet-width) {
    padding: 67px @lateral-retreat-tablet 0 @lateral-retreat-tablet;
  }

  @media (min-width: @desktop-width) {
    padding: 75px @lateral-retreat-desktop 0 @lateral-retreat-desktop;
  }
}

.additional-products__header-wrapper::before {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  top: 39px;
  left: 0;
  background-color: @main-color;

  @media (min-width: @tablet-width) {
    top: 89px;
  }

  @media (min-width: @desktop-width) {
    top: 98px;
  }
}

.additional-products__header {
  width: fit-content;
  font-family: "Oswald", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  background-color: #FFFFFF;
  position: relative;
  padding-right: 23px;
  padding-left: 20px;
  margin-bottom: 34px;
  margin-left: -21px;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding-left: 37px;
    padding-right: 37px;
    margin-bottom: 80px;
    margin-left: 0;
  }

  @media (min-width: @desktop-width) {
    padding-right: 36px;
    padding-left: 40px;
    margin-left: -40px;
  }
}

.additional-products__wrapper {
  padding: 0 @lateral-retreat 35px @lateral-retreat;

  @media (min-width: @tablet-width) {
    padding: 0 @lateral-retreat-tablet 76px @lateral-retreat-tablet;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
    padding: 0 @lateral-retreat-desktop 86px @lateral-retreat-desktop;
  }
}
