.button-form-wrapper {
  padding-bottom: 32px;

  @media (min-width: @tablet-width) {
    display: flex;
    align-items: center;
    padding-bottom: 74px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 82px;
  }

  &__button {
    width: 280px;
    height: 40px;
    color: #FFFFFF;
    background-color: @main-color;
    border: none;
    box-sizing: border-box;
    cursor: pointer;

    @media (min-width: @tablet-width) {
      width: 282px;
      height: 52px;
    }

    @media (min-width: @desktop-width) {
      width: 568px;
      margin-right: 83px;
    }
  }

  &__title {
    font-family: "Oswald", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;

    @media (min-width: @tablet-width) {
      font-size: 20px;
      line-height: 24px;
    }
  }

  &__conditions {
    max-width: max-content;
    display: block;
    font-family: "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    margin: 21px auto 0 auto;

    @media (min-width: @tablet-width) {
      font-size: 16px;
      line-height: 16px;
      margin-top: 0;
      margin-right: 107px;
    }

    @media (min-width: @desktop-width) {
      margin: 0;
    }
  }
}
