.explanation {
  min-width: @mobile-width;

  @media (min-width: @tablet-width) {
    // width: @tablet-width;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
  }
}

.explanation__wrapper {
  font-family: "Oswald", "Tahoma", sans-serif;
  font-style: normal;
  padding: 0 @lateral-retreat 49px @lateral-retreat;

  @media (min-width: @tablet-width) {
    padding: 45px @lateral-retreat-tablet 9px @lateral-retreat-tablet;
  }

  @media (min-width: @desktop-width) {
    padding: 71px @lateral-retreat-desktop 26px @lateral-retreat-desktop;
  }
}

.explanation__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.explanation__list {
  margin-top: 40px;

  @media (min-width: @tablet-width) {
    margin-top: 32px;
    display: flex;
    flex-wrap: wrap;
  }
}

.explanation__item {
  list-style-type: none;
  display: flex;

  @media (min-width: @tablet-width) {
    width: 247px;
    min-height: 277px;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 40px;
    margin-right: 137px;
  }

  @media (min-width: @desktop-width) {
    min-height: 239px;
    margin-right: 77px;
  }
}

.explanation__item:nth-last-child(n + 2) {
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }
}

.explanation__item:nth-child(even) {
  @media (min-width: @tablet-width) and (max-width: 828px) {
    margin-right: 0;
  }
}

.explanation__item:nth-child(3n) {
  @media (min-width: 1075px) and (max-width: 1439px) {
    margin-right: 0;
  }
}

.explanation__item:nth-child(4n) {
  @media (min-width: @desktop-width) {
    margin-right: 0;
  }
}

.explanation__image {
  min-width: 60px;
  height: 60px;
  margin-right: 20px;

  @media (min-width: @tablet-width) {
    width: 80px;
    height: 80px;
    margin-right: 0;
    margin-bottom: 28px;
  }
}

.explanation__description {
  font-family: "Arial", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #444444;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

.explanation__number {
  display: none;

  @media (min-width: @tablet-width) {
    display: inline-block;
    position: absolute;
    top: 0;
    right: -1px;
    font-family: "Oswald", "Tahoma", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 280px;
    line-height: 280px;
    text-align: right;
    color: #F2F2F2;
    z-index: -1;
  }
}

.explanation__number--one {
  @media (min-width: @tablet-width) {
    right: 16px;
  }
}
