.form-title {
  min-width: @mobile-width;
  margin: 0 auto;
  border-top: 1px solid #D9D9D9;

  @media (min-width: @tablet-width) {
    // width: @tablet-width;
    border-top: none;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width;
  }

  &__wrapper {
    font-family: "Oswald", sans-serif;
    font-style: normal;
    color: #000000;
    padding-top: 27px;
    padding-bottom: 39px;

    @media (min-width: @tablet-width) {
      padding-top: 37px;
      padding-bottom: 66px;
    }

    @media (min-width: @desktop-width) {
      padding-top: 46px;
      padding-bottom: 66px;
    }
  }

  &__header {
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 37px;

    @media (min-width: @tablet-width) {
      font-size: 60px;
      line-height: 60px;
      margin-bottom: 54px;
    }

    @media (min-width: @desktop-width) {
      margin-bottom: 56px;
    }
  }

  &__description {
    width: 90%;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;

    @media (min-width: @tablet-width) {
      width: 60%;
      font-size: 20px;
      line-height: 30px;
    }

    @media (min-width: @desktop-width) {
      width: 323px;
    }
  }
}
