.last-item {
  @media (min-width: @tablet-width) {
    padding-top: 73px;
    position: relative;
  }

  &__title {
    font-family: "Oswald", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #222222;
    margin-top: 23px;

    @media (min-width: @tablet-width) {
      width: 134px;
      font-size: 20px;
      line-height: 22px;
      text-align: center;
      margin-top: 49px;
    }
  }

  &__structure {
    font-family: "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #444444;
    margin-top: 8px;

    @media (min-width: @tablet-width) {
      width: 167px;
      font-size: 16px;
      line-height: 18px;
      text-align: center;
      margin-top: 23px;
    }
  }
}

.last-item__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px @lateral-retreat 25px @lateral-retreat;
  border-bottom: 1px solid #EBEBEB;

  @media (min-width: @tablet-width) {
    padding: 52px 37px 38px 37px;
    border: 1px solid #EBEBEB;
    box-sizing: border-box;
  }
}

.last-item__wrapper svg {
  @media (min-width: @tablet-width) {
    width: 60px;
    height: 60px;
  }
}

.last-item__button {
  @media (min-width: @tablet-width) {
    margin-top: 87px;
  }
}
