.page-header {
  width: 320px;
  padding: 10px @lateral-retreat 17px @lateral-retreat;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-header__logo {
  display: flex;
  align-items: center;

  .page-header__logo-image {
    margin-right: 57px;
  }

  .page-header__logo-text {
    position: relative;
    top: 3px;
  }
}
